################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ITSLocation.API/.vs/ITSLocation.API/FileContentIndex
